<!--Pagina inicial donde se crea una nota-->
<form [formGroup]="formulario"  >
    <div id="caja0">
        <ul>
            <li>
                <label for="titulo">Titulo</label>
                <input type="text" formControlName="titulo" required>
            </li>
            <li>
                <label for="estados">Estado</label>

                <select name="estados" id="estados" formControlName="estado">
                    <option value="abierto">Abierto</option>
                    <option value="proceso">En proceso</option>
                    <option value="cerrado">Cerrado</option>
                    
                </select>
            </li>
            <li>
                <label for="descripcion">Descripcion</label>
                <textarea name="descripcion" maxlength="150" formControlName="descripcion" required></textarea>
            </li>
            <li>
                <!--Boton para crear nota -->
                <a [routerLink]="['/misnotas']" routerLinkActive="router-link-active">
                    <button id="crear" type="submit"  (click)="Crear()" mat-raised-button color="warn">Crear nota</button>
                </a>
            </li>
        </ul>
    </div>
</form>
